div.list-value-line {
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto min-content min-content;
  column-gap: 10px;
  align-items: baseline;
}

div.list-contact-value {
  display: grid;
  grid-template-columns: auto;
  align-items: baseline;
}

div.list-contact-value-edit {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: baseline;
}

div.list-contact-number-edit {
  display: grid;
  grid-template-columns: max-content 20ch;
  align-items: baseline;
}

div.list-value:not(:first-child) { 
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-top: 1px solid lightgray;
} 

div.entity-contact-text {
  margin: 10px;
  font-size: large;
  white-space: pre-wrap;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 10px;
}
div.entity-contact-text {
  font-size: large;
  white-space: pre-wrap;
}

div.entity-number-text {
  font-size: large;
  margin-left: 10px;
}

input.entityText {
  margin: 10px;
  padding: -1px;
  border: 1px;
  border-style: solid;
  font-family: sans-serif;
  font-size: large;
  resize: vertical;
}

@media (max-width: 480px) 
  and (orientation: portrait) {
  div.list-contact-value-edit {
    display: grid;
    grid-template-columns: auto;
    align-items: baseline;
  }
}