div.list-value-line {
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto min-content min-content;
  column-gap: 10px;
  align-items: baseline;
}
div.list-value {
  display: grid;
  grid-template-columns: auto;
  align-items: baseline;
}

div.list-value:not(:first-child) { 
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-top: 1px solid lightgray;
} 

p {
  margin: 10px;
  font-size: large;
  white-space: pre-wrap;
}

textarea {
  margin: 10px;
  padding: -1px;
  border: 1px;
  border-style: solid;
  font-family: sans-serif;
  font-size: large;
  resize: vertical;
}
