input[type="checkbox"].weekday::after { 
  content:  attr(name);
  text-align: center;
  align-content: center;
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}
  
input[type="checkbox"].weekday { 
  margin: 1px;
  padding: 4px;
  font-size: 12pt;
  appearance: none;
  text-align: center;
}

input[type="checkbox"].weekday:hover {
  cursor: pointer;
}
  
input[type="checkbox"].weekday:focus {
  outline-style: none;
}
  
input[type="checkbox"].weekday:checked {
  outline-style: none;
  color: rgba(46, 46, 46, 0.5);
  background-image: url("check.svg");
  background-repeat: no-repeat;
  background-position: center
}

input[type="checkbox"].weekday:disabled {
  cursor: none;
  outline-style: none;
  color: lightgray;
  pointer-events : none;
  font-size: 12pt;
}
  