p {
  margin: 10px;
  font-size: large;
  white-space: pre-wrap;
  align-self: center;
}

textarea {
  margin: 10px;
  padding: -1px;
  border: 1px;
  border-style: solid;
  font-family: sans-serif;
  font-size: 14pt;
  resize: vertical;
}

.clamp-lines__button {
  font-size: 10pt;
  background: lightgray;
  border: 0;
  cursor: pointer;
  padding: 5px;
}
