div.type {
  margin-left: 20px;
  display: flex;
}

div.type input[type="radio"] {
  margin: 10px;
  width: 18pt;
  height: 18pt;
}

div.type label {
  display: inline-block;
  align-self: center;
  font-size: large;
}
