body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.page-week {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
  position: fixed;
  top: 55px;
  bottom: 75px;
  right: 0px;
  left: 0px;
}

div.page {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
  overflow: hidden;
  position: fixed;
  top: 55px;
  right: 0px;
  left: 0px;
  bottom: 10px;
  overflow-inline: inherit;
}
div.page-content {
  overflow-y: scroll;
  bottom: 10px;
  overscroll-behavior: contain;
}

div.page-week-content {
  overflow-y: scroll;
  bottom: 75px;
  overscroll-behavior: contain;
}

div.page-noscroll {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
  position: fixed;
  top: 55px;
  bottom: 75px;
  right: 0px;
  left: 0px;
}

div.pin {
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 250px;
  margin-left: auto; 
  margin-right: auto; 
  width: 350;
  height: 100px;
  text-align: center;
}

div.pin p {
  font-size: x-large;
}

div.pin input {
  font-size: x-large;
  text-align: center;
}

.cssload-container {
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cssload-speeding-wheel {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 3px solid rgb(0,0,0);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

div.add-button {
  display: flex;
  align-self: center;
}

div.line {
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto min-content;
  column-gap: 10px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.line:not(:first-child) { 
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-top: 1px solid lightgray;
}

div.actions {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 5px;
  align-self: center;
  align-items: center;
}

div.value-line {
}

div.line-element, input.line-element, label.line-element, select.line-element, a.line-element {
  font-size: 14pt;
  align-self: center;
}

textarea.line-element {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: -1px;
  border: 1px;
  border-style: solid;
  font-family: sans-serif;
  font-size: 14pt;
  resize: vertical;
}
input[type="text"].line-element {
  flex-grow: 1;
}

div.flex {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: baseline;
}

div.flexNoGap {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

div.flexColumnRight {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-end;
  align-content: flex-end;
}

.flexGrow1 {
  flex-grow: 1;
}

div.flex5 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: baseline;
}

div.nowrapflex {
  display: inline-flex;
  flex: row;
  flex-wrap: nowrap;
  gap: 10px;
}

i.value-button {
  font-size: 20pt;
  display: inline;
  vertical-align: middle;
  border: 1px transparent;
}

div button:disabled {
  color: #bfbfc585;
}

div button {
  padding: 0px;
  margin: 5px;
  border: 1px solid transparent;
  background: none;
  border-radius: 32px;
}

div button:focus {
  margin: none;
  outline: none;
  border: 1px solid gray;
  border-radius: 32px;
}

button:enabled i:hover {
  cursor: pointer;
}