div.weekPaginationContent {
  display: grid;
  align-items: center;
}

div#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: block;
  border-top: 1px solid;
  height: 75px;
}

div.weekPagination {
    display: inline-flex;
    min-height: 40px;
    align-items: center;
    margin: 10px;
}

div.weekPagination button {
  height: 35px;
  width: 35px;
  margin: 10px;
  font-weight: bold;
  font-size: x-large;
}

div.weekPagination button:disabled {
  color: #bfbfc585;
}